.contacts-form-container {
	height: 744px;
	padding: 36px 124px 0 124px;
}

.contacts-form-label {
	display: block;
	margin-bottom: 10px;
}

.left {
	float:left;
}

.right {
	float: right;
}

.contacts-form-title {
	font-family: "OpenSansRegular";
	font-size: 14px;
	margin-bottom: 5px;
	color: #727272;
}

.contacts-form-name, 
.contacts-form-email, 
.contacts-form-message,
.contacts-form-capcha {
	padding: 10px;
	background: #fcfcfc;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	font-family: "OpenSansLight";
	font-size: 13px;
	color: #c7c7c7;
	background: -moz-linear-gradient(top,  #fcfcfc 1%, #fafafa 50%, #f4f4f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfcfc), color-stop(50%,#fafafa), color-stop(100%,#f4f4f4));
	background: -webkit-linear-gradient(top,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	background: -o-linear-gradient(top,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f4f4f4',GradientType=0 );
}

.contacts-form-name,
.contacts-form-email,
.contacts-form-capcha {
	width: 170px
}

.contacts-form-textarea {
	resize: none;
	width: 380px;
	height: 160px;
	padding: 10px;
	background: #fcfcfc;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	font-family: "OpenSansLight";
	font-size: 13px;
	color: #c7c7c7;
	background: -moz-linear-gradient(top,  #fcfcfc 1%, #fafafa 50%, #f4f4f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfcfc), color-stop(50%,#fafafa), color-stop(100%,#f4f4f4));
	background: -webkit-linear-gradient(top,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	background: -o-linear-gradient(top,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #fcfcfc 1%,#fafafa 50%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f4f4f4',GradientType=0 );
}

.contacts-form-capcha {
	margin-top: 20px;
}

.contacts-form-send {
	display: block;
	padding: 9px 53px;
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid #71ae92;
	border-top: 1px solid #95dabc;
	background: linear-gradient(to bottom, #c0efdb 5%, #a3e5c9 7%, #76b899);
	color: #487364;
	font-family: "OpenSansSemiBold";
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

.contacts-form-send:hover {
	border-top: 1px solid #88d1b3;
	background: linear-gradient(to bottom, #b2e6d1 5%, #8fd9bb 7%, #669f87);
}

.contacts-form-reset {
	display: block;
	padding: 9px 53px;
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid #71ae92;
	border-top: 1px solid #95dabc;
	background: linear-gradient(to bottom, #c0efdb 5%, #a3e5c9 7%, #76b899);
	color: #487364;
	font-family: "OpenSansSemiBold";
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

.contacts-form-reset:hover {
	border-top: 1px solid #88d1b3;
	background: linear-gradient(to bottom, #b2e6d1 5%, #8fd9bb 7%, #669f87);
}