/* тело сайта ---------------------------------------- */
html, body {
	height: 100%;
} 

ul, p, h3 {
	margin: 0;
	padding: 0;
}

.wrapper {
	background: url(../img/site-bg.jpg) top center no-repeat;
	background-size: cover;
	position: relative;
	min-height: 100%;
	min-width: 1200px;
}

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}
.clearfix:after {
 clear: both;
}

/* header ---------------------------------------------- */
.header-container {
	height: 97px;
	background: url(../img/header-bg.png);
	position: relative;
	margin-bottom: 36px;
}

.header-container:after {
	content: " ";
	width: 100%;
	height: 7px;
	background: #eee;
	position: absolute;
	bottom: 0px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.header-content {
	max-width: 1200px;
	height: 92px;
	margin: 0 auto;
}

.logo {
	width: 197px;
	height: 51px;
	padding-top: 25px;
	float: left;
}

.social-links {
	float: right;
	margin-top: 10px;
}

.social-item {
	display: inline-block;
	list-style: none;
	margin-left: 3px;
	font-size: 0px;
}
.social-item:first-child {
	margin-left: 0;
}

.social-icons {
	background: url(../img/social-icons.png);
	display: block;
	width: 42px;
	height: 44px;
	text-indent: -9999px;
}

.fb-icon {
	background-position: -1px -1px;
}

.fb-icon:hover {
	background-position: -45px -1px;
}

.vk-icon {
	background-position: -1px -93px;
}

.vk-icon:hover {
	background-position: -45px -93px;
}

.tw-icon {
	background-position: -89px -1px;
}

.tw-icon:hover {
	background-position: -89px -47px;
}

.gh-icon {
	background-position: -1px -47px;
}

.gh-icon:hover {
	background-position: -45px -47px;
}

/* основной контент ------------------------------------ */
.main-container {
	width: 960px;
	margin: 0 auto;
}

.side-bar {
	width: 250px;
	min-height: 300px;
	float: left;
}

.main-content {
	width: 650px;
	float: right;
}

/* главное меню ------------------------------------------- */
.main-menu {
	margin-bottom: 36px;
}

.main-menu-list {
	font-family: "OpenSansSemiBold";
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	display: block;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c2c2c2;

}

.main-menu-item {
	list-style: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-bottom: 1px solid #c7c7c7;
}

.main-menu-item:last-child {
	border-bottom: none;
}

.main-menu-link {
	text-decoration: none;
	color: #727272;
	display: block;
	padding: 13px 29px 14px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	background: #fdfdfd;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #eeeeee 100%, #7c7c7c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#eeeeee), color-stop(100%,#7c7c7c));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#eeeeee 100%,#7c7c7c 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#eeeeee 100%,#7c7c7c 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#eeeeee 100%,#7c7c7c 100%);
	background: linear-gradient(to bottom,  #fdfdfd 0%,#eeeeee 100%,#7c7c7c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e8e8e8',GradientType=0 );
}

.main-menu-link:hover {
	color: #727272;
	background: #fdfdfd;
	background: #e4e4e4;
	background: -moz-linear-gradient(top,  #e4e4e4 0%, #c1c1c1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#c1c1c1));
	background: -webkit-linear-gradient(top,  #e4e4e4 0%,#c1c1c1 100%);
	background: -o-linear-gradient(top,  #e4e4e4 0%,#c1c1c1 100%);
	background: -ms-linear-gradient(top,  #e4e4e4 0%,#c1c1c1 100%);
	background: linear-gradient(to bottom,  #e4e4e4 0%,#c1c1c1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#c1c1c1',GradientType=0 );
}

.active {
	color: #1e7465;
	padding: 13px 29px 14px;
	background: #a5efdd;
	background: -moz-linear-gradient(top,  #a5efdd 3%, #7de8cd 5%, #40b99b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#a5efdd), color-stop(5%,#7de8cd), color-stop(100%,#40b99b));
	background: -webkit-linear-gradient(top,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	background: -o-linear-gradient(top,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	background: -ms-linear-gradient(top,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	background: linear-gradient(to bottom,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5efdd', endColorstr='#40b99b',GradientType=0 );
}

.active:hover {
	color: #1e7465;
	padding: 13px 29px 14px;
	background: #a5efdd;
	background: -moz-linear-gradient(top,  #a5efdd 3%, #7de8cd 5%, #40b99b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#a5efdd), color-stop(5%,#7de8cd), color-stop(100%,#40b99b));
	background: -webkit-linear-gradient(top,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	background: -o-linear-gradient(top,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	background: -ms-linear-gradient(top,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	background: linear-gradient(to bottom,  #a5efdd 3%,#7de8cd 5%,#40b99b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5efdd', endColorstr='#40b99b',GradientType=0 );
}

/* контакты ---------------------------------- */
.contacts {
}

.contacts-list {
	list-style: none;
	font-style: normal;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	overflow: hidden;
}

.contacts-item:first-child {
	color: #b2781d;
	padding: 7px 29px;
	font-family: "OpenSansSemiBold";
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	background: #f8dda7;
	background: -moz-linear-gradient(top,  #f8dda7 3%, #f4ce82 5%, #ddb25f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#f8dda7), color-stop(5%,#f4ce82), color-stop(100%,#ddb25f));
	background: -webkit-linear-gradient(top,  #f8dda7 3%,#f4ce82 5%,#ddb25f 100%);
	background: -o-linear-gradient(top,  #f8dda7 3%,#f4ce82 5%,#ddb25f 100%);
	background: -ms-linear-gradient(top,  #f8dda7 3%,#f4ce82 5%,#ddb25f 100%);
	background: linear-gradient(to bottom,  #f8dda7 3%,#f4ce82 5%,#ddb25f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8dda7', endColorstr='#ddb25f',GradientType=0 );
}

.contacts-item {
	border-bottom: 1px solid #ccc;
}
.contacts-item:last-child {
	border: none;
}

.contacts-link {
	text-decoration: none;
	font-family: "OpenSansRegular";
	font-size: 14px;
	height: 27px;
	color: #727272;
	display: block;
	padding-top: 9px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
}

.contacts-link:hover {
	background: #fdfdfd;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f3e8d4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f3e8d4));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f3e8d4 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f3e8d4 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f3e8d4 100%);
	background: linear-gradient(to bottom,  #fdfdfd 0%,#f3e8d4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f3e8d4',GradientType=0 );
}

.contacts-link span {
	background: url(../img/contacts-icons.png) no-repeat;
	display: inline-block;
	width: 59px;
	height: 37px;
	margin-right: 40px;
	float: left;
	margin-top: -10px;
}

span.phone {
	background-position: 0 -38px;
}

span.skype {
	background-position: 0 -75px;
}

/* содержание -------------------------------- */
.content-container {
	border-radius: 5px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	margin-bottom: 36px;
	overflow: hidden;
	background: #f7f7f7;
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #f7f7f7 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #f7f7f7 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f0f0f0',GradientType=0 );
}

.content-title {
	font-family: "OpenSansSemiBold";
	font-size: 24px;
	color: #eee;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 5px 5px 0 0;
	padding: 7px 41px 13px;
	margin: 0;
	border: 1px solid #777;
	border-top: 1px solid #9c9c9c;
	background: #c4c4c4;
	background: -moz-linear-gradient(top,  #c4c4c4 0%, #a9a9a9 4%, #a9a9a9 100%, #7c7c7c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c4c4), color-stop(4%,#a9a9a9), color-stop(100%,#a9a9a9), color-stop(100%,#7c7c7c));
	background: -webkit-linear-gradient(top,  #c4c4c4 0%,#a9a9a9 4%,#a9a9a9 100%,#7c7c7c 100%);
	background: -o-linear-gradient(top,  #c4c4c4 0%,#a9a9a9 4%,#a9a9a9 100%,#7c7c7c 100%);
	background: -ms-linear-gradient(top,  #c4c4c4 0%,#a9a9a9 4%,#a9a9a9 100%,#7c7c7c 100%);
	background: linear-gradient(to bottom,  #c4c4c4 0%,#a9a9a9 4%,#a9a9a9 100%,#7c7c7c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#7c7c7c',GradientType=0 );
}

/* главная страница ------------------------- */
.about-content {
	border: 1px solid #c2c2c2;
	border-radius: 0 0 5px 5px;
}

.foto-container {
	margin: 39px 0 0 43px;
	float: left;
}

.foto {
	width: 133px;
	height: 133px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 8px solid #f4f4f4;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.info-list {
	list-style: none;
	width: 365px;
	margin: 32px 20px 23px 36px;
	float: left;
}

.info-item {
	font-size: 14px;
	color: #727272;
	padding-bottom: 6px;
}

.info-name {
	font-family: "OpenSansSemiBold";
	padding-right: 8px;
	float: left;
}

.info-text {
	font-family: "OpenSansRegular";
	max-width: 220px;
	margin-right: 20px;
	float: left;
}

.info-item:last-child {
	padding-top: 10px;
}

.skill-list {
	max-width: 200px;
    overflow: hidden;
	display: block;
	float: left;
}

.skill-item {
	list-style: none;
	display: inline-block;
	font-family: "OpenSansSamiBold";
	font-size: 13px;
	height: 18px;
	color: #1e7465;
	background: url(../img/skill-bg.png) no-repeat;
	padding: 2px 5px 0 15px;
	border-right: 1px solid #d5d5d5;
	border-radius: 0 5px 5px 0;
	margin:0 7px 8px 0;
}

.item-title {
	font-family: "OpenSansSemiBold";
	color: #727272;
	font-size: 14px;
}

.item-text {
	font-family: "OpenSansRegular";
	font-size: 14px;
	color: #727272;
}

.content-row {
	border: 1px solid #c2c2c2;
	border-radius: 0 0 5px 5px;
	padding: 20px 40px 12px 40px;
}

.content-item {
	list-style: none;
	display: list-item;
	padding: 20px 0;
	background: url(../img/underline.png) repeat-x bottom;
}

.content-text {
	min-height: 55px;
	padding: 0 30px 0 96px;
}

.work-icon {
	background: url(../img/case.png) left center no-repeat;
}

.school-icon {
	background: url(../img/school.png) left center no-repeat;
}

.universaty-icon {
	background: url(../img/Graguete.png) left center no-repeat;
}

.diplom-icon {
	background: url(../img/diploma.png) left center no-repeat;
}

.content-item:last-child {
	background: none;
}

/* footer -------------------------------------- */
.footer-container {
	min-width: 1200px;
	height: 60px;
	box-shadow: 0 -1px 10px rgba(0,0,0,0.2);
	clear: both;
	margin-top: -60px;
	position: relative;
	z-index: 99;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%, #7c7c7c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4), color-stop(100%,#7c7c7c));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%,#7c7c7c 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%,#7c7c7c 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%,#7c7c7c 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%,#7c7c7c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
}

.footer-content {
	width: 624px;
	margin: 0 auto;
}

.sing-up {
	padding-top: 20px;
	float: left;
}

.sing-up-link {
	display: block;
	width: 40px;
	height: 22px;
	font-family: "OpenSansSemiBold";
	font-size: 14px;
	color: #9c9c9c;
	text-decoration: none;
	background: url(../img/locked.png) no-repeat;
	padding-left: 30px;
}

.sing-up-link:hover {
	background: url(../img/unlocked.png) no-repeat;
	color: #777;
}

.copyright {
	font-family: "OpenSansLight";
	font-size: 12px;
	color: #727272;
	padding: 23px 55px 0;
	float: left;
}