.sing-in {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -165px;
}

.sing-in-form {
	width: 252px;
	height: 200px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c2c2c2;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	padding: 40px 40px 40px 38px;
	background: #fbfbfb;
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #fbfbfb 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #fbfbfb 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f0f0f0',GradientType=0 );
}

.sing-in-title {
	font-family: "OpenSansLight";
	font-size: 12px;
	color: #727272;
	margin: 0 0 4px 22px;
}

.username, .password {
	width: 180px;
	height: 36px;
	border-radius: 4px;
	border: 1px solid #d6d6d6;
	background: linear-gradient(to bottom, #fbfbfb 20%, #fff 40%, #f4f4f4);
	font-family: "OpenSansLight";
	font-size: 13px;
	color: #727272;
	padding-left: 70px;
	outline: 0px;
}

.sing-in-username, .sing-in-password {
	position: relative;
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
}

.sing-in-username {
	margin-bottom: 24px;
}

.mail-icon {
	position: absolute;
	top: 0;
	width: 54px;
	height: 39px;
	background: url(../img/login-icon.png) left center no-repeat;
	z-index: 1;
}

.sing-in-password {
	margin-bottom: 20px;
}

.pass-icon {
	position: absolute;
	top: 0;
	width: 54px;
	height: 39px;
	background: url(../img/pass-icon.png) left center no-repeat;
	z-index: 1;
}

.sing-in-checkbox {
	margin-bottom: 19px;
	font-family: "OpenSansRegular";
	font-size: 14px;
	min-height: 16px;
}

input[type="checkbox"] {
    opacity: 0;
    width: 15px;
    height: 16px;
    margin: 0;
    top: 5px;
    margin-left: -20px;
}

input[type="checkbox"] + label {
    min-height: 16px;
    background: url(../img/check.png) left center no-repeat;
    display: inline-block;
    padding-left: 30px;
}

input[type="checkbox"]:checked + label {
    background: url(../img/check-push.png) left center no-repeat;
}

.login-button {
	display: block;
	padding: 9px 0;
	width: 150px;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid #71ae92;
	border-top: 1px solid #95dabc;
	color: #487364;
	font-family: "OpenSansSemiBold";
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	outline: 0px;
	background: #c0efdb;
	background: -moz-linear-gradient(top,  #c0efdb 5%, #a3e5c9 7%, #76b899 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#c0efdb), color-stop(7%,#a3e5c9), color-stop(100%,#76b899));
	background: -webkit-linear-gradient(top,  #c0efdb 5%,#a3e5c9 7%,#76b899 100%);
	background: -o-linear-gradient(top,  #c0efdb 5%,#a3e5c9 7%,#76b899 100%);
	background: -ms-linear-gradient(top,  #c0efdb 5%,#a3e5c9 7%,#76b899 100%);
	background: linear-gradient(to bottom,  #c0efdb 5%,#a3e5c9 7%,#76b899 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0efdb', endColorstr='#76b899',GradientType=0 );
}

.login-button:hover {
	border-top: 1px solid #88d1b3;
	background: #b2e6d1;
	background: -moz-linear-gradient(top,  #b2e6d1 5%, #8fd9bb 7%, #669f87 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#b2e6d1), color-stop(7%,#8fd9bb), color-stop(100%,#669f87));
	background: -webkit-linear-gradient(top,  #b2e6d1 5%,#8fd9bb 7%,#669f87 100%);
	background: -o-linear-gradient(top,  #b2e6d1 5%,#8fd9bb 7%,#669f87 100%);
	background: -ms-linear-gradient(top,  #b2e6d1 5%,#8fd9bb 7%,#669f87 100%);
	background: linear-gradient(to bottom,  #b2e6d1 5%,#8fd9bb 7%,#669f87 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e6d1', endColorstr='#669f87',GradientType=0 );
}
